.main {
  font-size: 2em;
}

.section {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.section + .section {
  margin-top: 16px;
}

.label {
  margin-bottom: 4px;
}

.buttons {
  margin-top: 16px;
  float: right;
}
